* {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color: #1eaddc;
}

body {
    margin: 0;
}

#search-form {
    display: flex;
    justify-content: center;
    margin: 10px;
    max-width: 450px;
    margin: 30px auto 0 auto;
}

#search {
    padding: 8px;
    border: solid 1px grey;
    font-size: 17px;
    width: 100%;
}

#search:focus {
    outline: 0;
}

#search-button {
    border: solid 1px grey;
    margin: 0 0 0 -1px;
    padding: 8px;
    background-color: white;
}
