name: Release

on:
  push:
    branches: ["**"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup NodeJS
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v5.0.0
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Build project
        run: npm run build

      - name: Test project
        run: npm run test

      - name: Compress dist/ directory to targets.tar
        run: tar cf targets.tar dist

      - name: Upload targets.tar
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main')
        with:
          name: target-${{ runner.os }}
          path: targets.tar
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: github.ref == 'refs/heads/main'
    environment:
      name: production
    steps:
      - name: Checkout current branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v5.0.0
        with:
          node-version: 24
          cache: "npm"
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Download target directories
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: target-${{ runner.os }}

      - name: Inflate target directories
        run: |
          tar xf targets.tar
          rm targets.tar

      - name: Create GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Publish project
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        id: semantic
        with:
          semantic_version: 25.0.2
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branches: |
            [
              "main"
            ]
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
