name: Release

on:
  push:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup NodeJS
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v5.0.0
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Test project
        run: npm run test

      - name: Compress dist/ directory to targets.tar
        run: tar cf targets.tar dist

      - name: Upload targets.tar
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main')
        with:
          name: target-${{ runner.os }}
          path: targets.tar
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: production
    steps:
      - name: Checkout current branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v5.0.0
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Download target directories
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: target-${{ runner.os }}

      - name: Inflate target directories
        run: |
          tar xf targets.tar
          rm targets.tar

      - name: Publish project
        uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
        id: semantic
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branches: |
            [
              "main"
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPMJS_TOKEN }}
